<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
<%- include('./partials/header.ejs') %> 
<%- include('./partials/main.ejs') %> 
<%- include('./partials/skills.ejs') %> 
<%- include('./partials/projects.ejs') %> 
<%- include('./partials/contact.ejs') %>     
<%- include('./partials/footer.ejs') %> 
</body>
</html>